

<div class="row">
  <div class="col-auto mr-auto">
    <span style="padding-left: 20px;font-size: 1.3rem;">سبسکرائب: </span>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class="fas fa-rss fa-lg" style="color: goldenrod;;font-size: 25px;padding-left: 10px;"></i>
    </a>
  </div>
  <div class="col-auto">
    <section class="share">
      <span style="padding-left: 20px;font-size: 1.3rem;">شیئر: </span>
      <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape}}&url={{ page.url | absolute_url }}&via={{site.social[0].username}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
        <i class="fab fa-twitter-square fa-lg" style="color: #1da1f2;font-size: 25px;padding-left: 10px;"></i>
      </a>
    
      <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fab fa-facebook-square fa-lg" style="color: #4267b2;font-size: 25px;padding-left: 10px;"></i>
      </a>
    
      <a target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url}}"
        onclick="window.open(this.href, 'linkedin-share', 'width=550,height=255');return false;">
        <i class="fab fa-linkedin fa-lg" style="color: #0076b5;font-size: 25px;padding-left: 10px;"></i>
      </a>
    
    </section>
  </div>
</div>