@font-face {
	font-family: "Nafees Nastaleeq";
	src: url("https://cdn.jsdelivr.net/npm/urdu-web-fonts@1.0.3/Nafees-Nastaleeq/fonts/Nafees-Nastaleeq.eot");
	src: url("https://cdn.jsdelivr.net/npm/urdu-web-fonts@1.0.3/Nafees-Nastaleeq/fonts/Nafees-Nastaleeq.woff") format("woff"),
	url("https://cdn.jsdelivr.net/npm/urdu-web-fonts@1.0.3/Nafees-Nastaleeq/fonts/Nafees-Nastaleeq.otf") format("opentype"),
	url("https://cdn.jsdelivr.net/npm/urdu-web-fonts@1.0.3/Nafees-Nastaleeq/fonts/Nafees-Nastaleeq.ttf") format("ttf"),
	url("https://cdn.jsdelivr.net/npm/urdu-web-fonts@1.0.3/Nafees-Nastaleeq/fonts/Nafees-Nastaleeq.svg#filename") format("svg");
	font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

@font-face {
	font-family: "Jameel Noori";
	src: url("fonts/jameel-noori-nastaleeq-regular.woff") format("woff");
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Naskh Arabic';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Regular.eot);
    src: url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Noto Naskh Arabic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notonaskharabic/v4/NotoNaskhArabic-Bold.ttf) format('truetype');
  }

html, body {
    font-family: "Jameel Noori", "Nafees Nastaleeq", Helvetica, sans-serif;
	direction: rtl;
	margin: 0;
	padding: 0;
    width: 100%;
    overflow-x: hidden;
}


.arabic {
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 1.5rem;
}

.arabic .translation {
    font-family: "Jameel Noori", "Nafees Nastaleeq", Helvetica, sans-serif;
}

.post-list {
    padding-top: 40px;
}

.post-excerpt {
    font-size: 1.3rem;
}

.pagination {
    padding-bottom: 15px;
}

.paginate-number {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

.nextPrev {
    align-self: center;
}

.post {
    padding: 1rem 2rem;
    text-align: justify;
}

.post-content {
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.navbar-brand {
    margin-left: 30%;
    margin-right: 20%;
    font-size: 2.5rem;
}

.navbar-nav > li {
    font-size: 1.5rem;
}

.dropdown-item {
    font-size: 1.3rem;
}

.post-header-container {
    text-align: center;
    margin-top: 50px;
}

.post-meta {
    margin-bottom: 20px;
    color: grey;
}

.post-footer {
    padding: 1rem 2rem;
}

.share {
    padding-bottom: 10px;
}

.post-navigation {
    font-size: 14px;
    display: block;
    width: auto; 
}
  
.post-navigation .prev-post {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0; 
    text-align: left;
}

.post-navigation .next-post {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
    text-align: right; 
}

.page-number {
    font-size: 1.3rem;
}

.btn-primary:hover{
    color: #0062cc;
    background-color: #ffffff;
    border-color: #0062cc;
}
.site-footer {
    padding: 1em 4em 3em 5em;
    background-color: #212121;
    background-image: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.footer-links{
    text-decoration: none;
    padding: 0.2rem 0rem;
}

ul {
    list-style: none;
}

.footer-lists{
    list-style: none;
    padding-inline-start: 0px;
}

.footer-pages {
    margin-right: 50px;
}


.books {
	padding-left: 100px;
    padding-right: 100px;
    font-size: 1.7rem;
}

.book {
    padding-bottom: 20px;
    text-align: center;
}

.book-image{
    padding-bottom: 20px;
}

.modal-header {
    background-color: #212121;
    background-image: url("/assets/pattern2.png");
    color: white;
}

.modal-footer {
    background-color: #212121;
    background-image: url("/assets/pattern2.png");
    color: white;
}

.close {
    text-shadow: none;
    color: white;
}

.modal-title {
    font-size: 2rem;
}

.modal-body {
    font-size: 1.5rem;
}

#bookDesc {
    line-height: 2rem;
    text-align: justify;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-footer {
    padding-top: 20px;
}

.profile-picture {
    border-radius: 100%;
    border: 4px solid #fff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}